<h1>inscription</h1>

<form>
    
    <input type="text" ng-model="nom_Person" placeholder="nom_Person">
    <input type="text" ng-model="prenom_Person" placeholder="prenom_Person">
    <input type="password" ng-model="password_Person" placeholder="password_Person">
    <input type="date" ng-model="dateNaissance_Person" placeholder="dateNaissance_Person">
    <input type="text" ng-model="login_Person" placeholder="login_Person">
    <input type="text" ng-model="cin_Person" placeholder="cin_Person">
    <input type="text" ng-model="adresse_Person" placeholder="adresse_Person">


    
    <button type="submit" ng-click= "inscription(nom_Person, prenom_Person,password_Person,dateNaissance_Person,login_Person,cin_Person,adresse_Person)">inscrit</button>

    
</form> 